/* You can add global styles to this file, and also import other style files */
.special{
    color:green;
    font-size: large;
}
.casual{
    color:blue;
    font-size: 24px;
}
.other{
    color:red;
    font-size: 32px;
}